@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hide arrows in number input for Chrome, Safari, Edge */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide arrows for Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
